// SPDX-License-Identifier: GPL-3.0-or-later
// SPDX-FileCopyrightText: Copyright © 2023 Netflix-Clone Chan Alston

@use "../profile.module.scss";
@use "../../../../styles/button.module.scss";

.desc {
  color: var(--light-grey-txt);
  font-size: 1rem;
  margin: 0;
  padding: 0 20px;
  text-align: center;
}

.AddProfileMain {
  display: flex;
  margin: 20px 0;
}

@media screen and (max-width: 450px) {
  .AddProfileMain {
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }
}
