/* file using this stylesheet */
/* 
component/home/CardFour.js;
*/

/* Homepage CardFour Component */
.containerCard {
  max-width: 1100px;
  margin: 80px 50px;
  display: flex;
}

/*Content section*/
.wordGroup {
  width: 52%;
  padding-left: 20px;
}

.wordGroupBig {
  margin: 0;
  font-size: 3rem;
}

.wordGroupSml {
  font-size: 1.65rem;
}

/*Image section*/
.imgPresentContainer {
  max-width: 504.95px;
  margin: -2% 0 -3% -4%;
}

/* *********************************** */
/* *********************************** */
/* media queries */
@media screen and (max-width: 967px) {
  .containerCard {
    flex-direction: column-reverse;
  }
  .wordGroupBig {
    margin: 0;
    font-size: 2.6rem;
  }
  .wordGroupSml {
    font-size: 1.4rem;
    margin: 10px 0;
  }

  .imgContainer {
    width: 75%;
    align-self: center;
  }
  .imgPresentContainer {
    width: 100%;
    margin: -2% 0 0 0;
    max-width: none;
    display: flex;
    align-content: center;
    justify-content: center;
  }
}

@media screen and (max-width: 570px) {
  .containerCard {
    margin: 60px 30px;
  }
  .wordGroupBig {
    margin: 0;
    font-size: 2rem;
  }
  .wordGroupSml {
    font-size: 1.1rem;
    margin: 10px 0;
  }
}
