/* file using this stylesheet */
/* 
component/home/CardOne.js;
component/home/CardTwo.js;
component/home/CardThree.js;
component/home/CardFour.js;
*/

/*all card module can share this*/
.container {
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: center;
  border-bottom: 8px solid #222;
}

.wordGroup {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-self: center;
}

/* *********************************** */
/* *********************************** */
/* media queries */
@media screen and (max-width: 967px) {
  .wordGroup {
    width: 100%;
    text-align: center;
    padding: 0;
    z-index: 10;
  }
}
