.container {
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: center;
  border-bottom: 8px solid #222;
}

.containerCard {
  max-width: 1100px;
  margin: 80px;
  display: flex;
}

.wordGroup {
  width: 52%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-right: 20px;
}

.wordGroupBig {
  margin: 0;
  font-size: 3rem;
}

.wordGroupSml {
  font-size: 1.65rem;
}

.imgPresent {
  width: 48%;
}

.imgPresentContainer {
  margin: -10% -5%;
}

.vidPresentContainer {
  position: relative;
}

.videoTv {
  position: absolute;
  transform: translate(10px);
  object-fit: contain;
  width: 79.5%;
  height: 79.5%;
  left: 8%;
  top: 7.9%;
}
