/* Homepage CardOne Component */
/* Index.js section*/
.container {
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: center;
  border-bottom: 8px solid #222;
}

.containerCard {
  max-width: 1100px;
  margin: 80px 50px;
  display: flex;
}

.wordGroup {
  width: 52%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-self: center;
  padding-right: 20px;
}

.wordGroupBig {
  margin: 0;
  font-size: 3rem;
}

.wordGroupSml {
  font-size: 1.65rem;
}

.imgPresent {
  width: 48%;
}

.imgPresentContainer {
  margin: -10% -5%;
}

.vidPresentContainer {
  position: relative;
}

.videoTv {
  position: absolute;
  transform: translate(10px);
  object-fit: contain;
  width: 79.5%;
  height: 79.5%;
  left: 8%;
  top: 7.9%;
}

/* *********************************** */
/* *********************************** */
/* media queries */
@media screen and (max-width: 967px) {
  .containerCard {
    flex-direction: column;
  }
  .wordGroup {
    width: 100%;
    text-align: center;
    padding-right: 0;
    z-index: 10;
  }
  .wordGroupBig {
    margin: 0;
    font-size: 2.6rem;
  }
  .wordGroupSml {
    font-size: 1.4rem;
    margin: 10px 0;
  }

  .imgPresent {
    width: 70%;
    align-self: center;
  }
}

@media screen and (max-width: 570px) {
  .containerCard {
    margin: 60px 30px;
  }
  .wordGroup {
    width: 100%;
    text-align: center;
    padding-right: 0;
    z-index: 10;
  }
  .wordGroupBig {
    margin: 0;
    font-size: 2rem;
  }
  .wordGroupSml {
    font-size: 1.1rem;
    margin: 10px 0;
  }

  .imgPresent {
    width: 90%;
    align-self: center;
  }
}
