/* file using this stylesheet */
/* 
component/home/CardOne.js;
*/

/* Homepage CardOne Component */
.containerCard {
  max-width: 1100px;
  margin: 80px 50px;
  display: flex;
}

/*Content section*/
.wordGroup {
  width: 52%;
  padding-right: 20px;
}

.wordGroupBig {
  margin: 0;
  font-size: 3rem;
}

.wordGroupSml {
  font-size: 1.65rem;
}

/*Image section*/
.imgPresent {
  width: 48%;
}

.imgPresentContainer {
  margin: -10% -5%;
}

.vidPresentContainer {
  position: relative;
}

.videoTv {
  position: absolute;
  transform: translate(10px);
  object-fit: contain;
  width: 79.5%;
  height: 79.5%;
  left: 8%;
  top: 7.9%;
}

/* *********************************** */
/* *********************************** */
/* media queries */
@media screen and (max-width: 967px) {
  .containerCard {
    flex-direction: column;
  }
  .wordGroupBig {
    margin: 0;
    font-size: 2.6rem;
  }
  .wordGroupSml {
    font-size: 1.4rem;
    margin: 10px 0;
  }

  .imgPresent {
    width: 70%;
    align-self: center;
  }
}

@media screen and (max-width: 570px) {
  .containerCard {
    margin: 60px 30px;
  }
  .wordGroupBig {
    margin: 0;
    font-size: 2rem;
  }
  .wordGroupSml {
    font-size: 1.1rem;
    margin: 10px 0;
  }

  .imgPresent {
    width: 90%;
    align-self: center;
  }
}
