/* file using this stylesheet */
/* 
component/home/CardTwo.js;
*/

/* Homepage CardTwo Component */
.containerCard {
  max-width: 1100px;
  margin: 80px 50px;
  display: flex;
}

/*Content section*/
.wordGroup {
  width: 55%;
  padding-left: 20px;
}

.wordGroupBig {
  margin: 0;
  font-size: 3rem;
}

.wordGroupSml {
  font-size: 1.65rem;
  margin-bottom: 0;
}

/*Image section*/
.imgContainer {
  width: 40%;
}

.imgPresent {
  width: 48%;
}

.imgPresentContainer {
  position: relative;
  margin: -8% -1% -4% -15%;
  max-width: 504.967px;
}

/*A small rectangle section, bottom of main img*/
.smallCard {
  position: absolute;
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  bottom: 1%;
  background-color: #000000;
  border: #222 solid 4px;
  border-radius: 15px;
  width: 65%;
  padding: 5px 10px;
  min-width: 285px;
}

.smallCardTextGrp {
  width: fit-content;
  height: fit-content;
  align-self: center;
  padding: 20px 0 20px 20px;
}

.smallCardTextGrp > * {
  margin: 0;
}

.smallCardTextGrp > h3 {
  font-size: 1.05rem;
}

.smallCardTextGrp > p {
  color: #0071eb;
  padding-top: 3px;
}

/*The small poster Image*/
.smallCardImg {
  max-width: 57.15px;
  align-self: center;
}

/*The Infinite loading Gif*/
.smallCardDownloading {
  max-width: 48px;
  align-self: center;
  margin: 0 0 0 auto;
}

/* *********************************** */
/* *********************************** */
/* media queries */
@media screen and (max-width: 967px) {
  .containerCard {
    flex-direction: column-reverse;
  }
  .wordGroup {
    width: 100%;
    padding-left: 0;
  }
  .wordGroupBig {
    margin: 0;
    font-size: 2.6rem;
  }
  .wordGroupSml {
    font-size: 1.4rem;
    margin: 10px 0;
  }

  .imgContainer {
    width: 100%;
    align-self: center;
  }
  .imgPresentContainer {
    margin: -8% 0 0 0;
    max-width: none;
    display: flex;
    justify-content: center;
  }
  .smallCard {
    max-width: 430px;
  }
}

@media screen and (max-width: 570px) {
  .containerCard {
    margin: 60px 30px;
  }
  .wordGroupBig {
    margin: 0;
    font-size: 2rem;
  }
  .wordGroupSml {
    font-size: 1.1rem;
    margin: 10px 0;
  }

  .imgPresent {
    width: 90%;
    align-self: center;
  }
  .smallCardTextGrp {
    padding: 0 15px;
  }
  .smallCardTextGrp > h3 {
    font-size: 0.98rem;
  }
  .smallCardTextGrp > p {
    color: #0071eb;
    padding-top: 1px;
  }
  .smallCardImg {
    max-width: 34.28px;
  }
}

@media screen and (max-width: 400px) {
  .containerCard {
    margin: 40px 20px;
  }
}
