// SPDX-License-Identifier: GPL-3.0-or-later
// SPDX-FileCopyrightText: Copyright © 2023 Netflix-Clone Chan Alston

.container {
  position: fixed;
  bottom: 0;
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  color: #fff;
  background-color: var(--med-red-color);

  .content {
    display: flex;
    padding: 8px 23px;
  }
}
.msgGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .msg {
    text-align: center;
    font-size: 1.2rem;
    margin: 0;

    &:first-child {
      margin-bottom: 3px;
    }

    @media screen and (max-width: 800px) {
      font-size: 1.1rem;
    }
    @media screen and (max-width: 510px) {
      font-size: 1rem;
    }
    @media screen and (max-width: 470px) {
      font-size: 0.9rem;
    }
  }
}

.slider {
  position: absolute;
  top: -36px;

  padding: 4px 6px;
  cursor: pointer;
  appearance: none;
  border: none;
  background-color: var(--med-red-color);
  border-radius: 8px;

  transition: background-color 160ms ease-in-out;

  .transition {
    transition: transform 160ms ease-in-out;
  }

  &:hover {
    background-color: var(--dark-red-color);

    & .transition {
      transform: translate(0, 1px);
    }
  }
}
