rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth.uid != null 
    }

    match /Acc/{accID} {
      allow create: if isSignedIn();
      allow read: if isSignedIn() && request.auth.uid == accID;
      allow update: if isSignedIn() && 
      request.auth.uid == accID &&
      request.resource.data.uid == resource.data.uid &&
      request.resource.data['user-main'].keys().hasAll(['name', 'pic'])
    }
    
    match /mymovie/{mymovieID} {
      allow read, create: if isSignedIn() && request.auth.uid == mymovieID;
      allow update: if isSignedIn() && 
      request.auth.uid == mymovieID &&
      request.resource.data.myMovies.size() > 0;
    }
  }
}