/* file using this stylesheet */
/* 
components/browse/profile/addProfile.js;
components/browse/profile/editProfile.js;
components/browse/profile/mainProfile.js;
components/browse/profile/profile.js;
components/browse/profile/profileAvatar.js;
pages/manageProfile.js;
*/

.container {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  overflow: hidden;
  position: relative;
  min-width: 340px;
}

/* Header section */
.header {
  background-color: #000;
  display: flex;
  align-content: center;
  padding: 25px 0 0 40px;
  height: 6%;
  min-height: 77px;
}

.imgLogo {
  height: fit-content;
}

/* main section */
.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.divContainer {
  max-width: 80%;
}

/* profile section */
.headingMain {
  color: #fff;
  text-align: center;
  font-size: min(4vw, 5rem);
  font-weight: 100;
  margin: 0 0 20px 0;
}

/* profileAvatar section */
.listItemProfile {
  list-style: none;
  width: 10vw;
  max-width: 200px;
  min-width: 84px;
  margin-right: 2vw;
  cursor: pointer;
}

.listItemProfile:hover .name,
.listItemProfile:focus .name {
  color: #fff;
}

.listItemProfile:hover .avatarContainer,
.listItemProfile:focus .avatarContainer {
  outline: #fff 2px solid;
}

.listItemProfile:hover .profileAdd,
.listItemProfile:focus .profileAdd {
  background-color: #fff;
}

.profilePic {
  border-radius: 7px;
  transition: outline 150ms ease-in-out;
}

.avatarContainer {
  position: relative;
  height: 10vw;
  width: 10vw;
  max-height: 200px;
  max-width: 200px;
  min-height: 84px;
  min-width: 84px;
  border-radius: 8px;
}

.nameContain {
  text-decoration: underline #000;
}

.name {
  color: #808080;
  text-align: center;
  margin: 8px 0;
  font-size: min(1.3vw, 2rem);
  font-weight: 600;
  max-width: 100%;
}

/* for editProfile page */
.editCover {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
}
.editCover:hover {
  outline: rgb(0, 0, 0, 0.5) 2px solid;
}

/* addProfile page & editProfile page */
.borderLine {
  height: 2px;
  background-color: #333;
  border: none;
}

.inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  margin: 0 14px;
  width: clamp(13rem, 20vw + 8rem, 22rem);
  background-color: #666;
  border: none;
  height: 1.9rem;
  color: #fff;
  padding: 12px;
  font-size: 1rem;
}
.inputWarn {
  border: solid 1px rgb(184, 5, 5);
}
.warn {
  color: rgb(184, 5, 5);
  margin: 8px 14px 0 14px;
}

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.continueBtn {
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  font-size: 1.1rem;
  padding: 6px 25px;
  font-weight: 100;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 110ms ease, border 110ms ease, color 110ms ease;
}
.continueBtn:hover {
  background-color: rgb(184, 5, 5);
  border: 2px solid rgb(184, 5, 5);
  color: #fff;
}
.validBatn {
  background-color: rgb(184, 5, 5);
  border: 2px solid rgb(184, 5, 5);
  color: #fff;
  margin-top: 15px;
  margin-top: 15px;
}

.cancelBtn {
  background-color: #000;
  border: 2px solid grey;
  border-radius: 3px;
  font-size: 1.1rem;
  padding: 6px 25px;
  font-weight: 100;
  color: grey;
  cursor: pointer;
  margin-left: 20px;
  transition: border 110ms ease, color 110ms ease;
  margin-top: 15px;
}
.cancelBtn:hover {
  color: #fff;
  border: 2px solid #fff;
}

@media screen and (max-width: 900px) {
  .name {
    font-size: 0.77rem;
  }
  .headingMain {
    font-size: 2.2rem;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 15px 0 0 30px;
    height: 6%;
    min-height: 77px;
  }
}
