// SPDX-License-Identifier: GPL-3.0-or-later
// SPDX-FileCopyrightText: Copyright © 2023 Netflix-Clone Chan Alston

@use "../profile.module.scss";

.box {
  display: flex;

  @media screen and (max-width: 450px) {
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
  }

  .profilePicWarn {
    outline: var(--error-color) 3px solid;
    outline-offset: -3px;
  }

  .editContainer {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: flex-end;

    width: 100%;
    height: 100%;

    .editPosition {
      display: flex;
      justify-content: center;
      align-items: center;

      height: auto;
      max-width: 20%;
      aspect-ratio: 1;

      margin: 8%;
      padding: 2px;

      background-color: var(--grey-color-2);
      border-radius: 9999px;
      box-shadow: 0px 12px 14px -1px rgba(0, 0, 0, 0.8);
      cursor: pointer;

      .inputFile {
        display: none;
      }
    }
  }

  .detailsPanel {
    display: flex;
  }
}
