/* file using this stylesheet */
/* 
pages/browse/index.js;
pages/browse/my-list.js;
pages/browse/trending.js;
pages/browse/tv-shows.js;
component/browse/featured.js;
component/browse/loading.js;
*/

.main {
  min-height: 80vh;
  background-color: #000;
}

.container {
  background-color: #000;
}

.featuredMain {
  position: relative;
  display: inline-block;
  width: 100%;
}

.featuredSpace {
  padding-bottom: 40%;
}

.featuredAbsolute {
  position: absolute;
  top: 0;
  width: 100%;
}

.feaContainerStatic {
  position: relative;
}

.blend {
  position: absolute;
  background-image: linear-gradient(
    to bottom,
    rgba(20, 20, 20, 0) 0,
    rgba(20, 20, 20, 0.15) 15%,
    rgba(20, 20, 20, 0.35) 21%,
    rgba(20, 20, 20, 0.58) 30%,
    #141414 68%,
    #000000 100%
  );
  background-size: 100% 100%;
  background-position: 0 top;
  background-repeat: repeat-x;
  background-color: transparent;
  width: 100%;
  height: 12vw;
  top: auto;
  bottom: -1px;
  opacity: 1;
}

/* loadingBrowse.js component */
.loadingBg {
  width: 100vw;
  height: 100vh;
  background-color: #111;
}

.header {
  height: 5%;
}

.netflixLogoContainer {
  padding: 20px 0 0 40px;
  max-width: 160px;
}

.mainLoading {
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePicCenter {
  width: 50px;
  position: relative;
}

.spinnerContain {
  position: absolute;
  top: 0;
  animation: rotate 1s infinite cubic-bezier(0, 0, 0.72, 0.74) running;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(2.5);
  }
  100% {
    transform: rotate(360deg) scale(2.5);
  }
}

/* featured.js component */
.featuredImg {
  width: 100%;
}

.emptyFea {
  padding: 30px;
}

/* featured text section */
.wordGroup {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding: 0 0 0 4%;
}

/* Image title part*/
.featuredTxt {
  margin: 10% 0 0 0;
  max-width: 45vw;
}
/* paragraph description part*/
.feaDescription {
  color: #fff;
  font-size: min(1.8vw, 2rem);
}

/* the two button group*/
.btnGroup {
  display: flex;
  height: 100px;
}

.playBtn {
  border: none;
  background-color: #fff;
  padding: 10px 25px 7px 25px;
  border-radius: 6px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  height: fit-content;
}
.btnImage {
  display: block;
  width: 30%;
  max-width: 30px;
  margin: auto -1%;
}
.playBtnTxt {
  font-size: clamp(0.6rem, 1.4vw, 1.4rem);
  margin: auto 0;
}
.playBtn:hover {
  background-color: rgb(219, 219, 219);
}

.moreInfoBtn {
  border: none;
  background-color: rgba(109, 109, 109, 0.658);
  padding: 9px 14px 5px 15px;
  border-radius: 3px;
  margin-left: 10px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  height: fit-content;
}
.btnImageInfo {
  display: block;
  max-width: 27px;
  margin: auto -1%;
  width: 20%;
}
.moreInfoBtnTxt {
  font-size: clamp(0.6rem, 1.4vw, 1.4rem);
  color: #fff;
  padding: 0 0 0 5px;
}
.moreInfoBtn:hover {
  background-color: rgba(105, 105, 105, 0.459);
}

.listHeader {
  margin-left: 5%;
  color: #fff;
}

@media screen and (max-width: 2000px) {
  .featuredTxt {
    margin: 5% 0 0 0;
    max-width: 45vw;
  }
}

@media screen and (max-width: 600px) {
  .playBtn {
    padding: 7px 17px 4px 16px;
  }
  .moreInfoBtn {
    padding: 6px 11px 5px 12px;
    border-radius: 3px;
    margin-left: 10px;
  }
  .moreInfoBtnTxt {
    margin: auto;
  }
}

@media screen and (max-width: 400px) {
  .featuredSpace {
    padding-bottom: 55%;
  }
  .featuredTxt {
    margin: 1% 0 0 0;
    max-width: 60vw;
  }
}

.darkBgModal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
