/* main component of rows of cards */
.rowOfCards {
  margin: 3vw 0;
}

/* headings part */
.cardsHeadings {
  margin: 0 0 10px 50px;
}
.cardH1 {
  position: relative;
  margin: 0;
  color: #fff;
}

/* main part */
.cardsRow {
  display: flex;
}
.cardsRow:hover .navArrowContainer {
  visibility: visible;
}

.cards {
  width: 100%;
  padding: 0 4%;
  position: relative;
  overflow: hidden;
}

/* left and right slider handler */
.handle {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4%;
  text-align: center;
  transition: transform 180ms ease-in-out;
  cursor: pointer;
  background-color: rgba(51, 51, 51, 0.733);
  z-index: 2;
}

.handlelft {
  left: -2px;
}
.handleRgt {
  transform: scaleX(-1);
  right: 0;
}

.handle:hover {
  transform: scale(1.25);
}
.handleRgt:hover {
  transform: scale(-1.25, 1.25);
}

.handle:hover .navArrowContainer {
  visibility: visible;
}

.navArrowContainer {
  width: 100%;
  visibility: hidden;
}

/* Collection of cards start here*/
.sliderContainer {
  overflow-x: visible;
}

.slider {
  white-space: nowrap;
  transition: transform 500ms ease-in-out;
  transform: translate3d(-100%, 0, 0);
}

.sliderItemOf:first-child {
  padding-left: 0;
}
.sliderItemOf:last-child {
  padding-right: 0;
}

.slideLft {
  transform: translate3d(0, 0, 0);
}

.slideRgt {
  transform: translate3d(-200%, 0, 0);
}

.sliderItem {
  display: inline-block;
  width: 25%;
  padding: 0 0.2vw;
}

.imgContainer {
  position: relative;
  cursor: pointer;
}

.pictureCard {
  border-radius: 5px;
}

.imgContainerCornerLft {
  transform-origin: left;
}

.imgContainerCornerRgt {
  transform-origin: right;
}
