/* file using this stylesheet */
/* 
component/browse/cards/cards.js;
component/browse/cards/constantList.js;
component/browse/cards/placeholderCard.js;
component/browse/cards/sliderItem.js;
component/browse/cards/sliderHandler.js;
*/

/* main component of rows of cards */
.rowOfCards {
  margin: 3vw 0;
}

/* headings part */
.cardsHeadings {
  margin: 0 0 10px 4%;
}
.cardH1 {
  position: relative;
  margin: 0;
  color: #fff;
  font-size: clamp(0.8rem, 1.8vw, 2rem);
  padding-left: 8px;
}

/* main part */
.cardsRow {
  display: flex;
}
.cardsRow:hover .navArrowContainer {
  visibility: visible;
}

.cards {
  width: 100%;
  padding: 0 4%;
  position: relative;
  overflow: hidden;
}

/* left and right slider handler */
.handle {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4%;
  text-align: center;
  transition: transform 180ms ease-in-out;
  cursor: pointer;
  background-color: rgba(51, 51, 51, 0.733);
  z-index: 2;
}

.handlelft {
  left: -2px;
}
.handleRgt {
  transform: scaleX(-1);
  right: 0;
}

.handle:hover {
  transform: scale(1.25);
}
.handleRgt:hover {
  transform: scale(-1.25, 1.25);
}

.handle:hover .navArrowContainer {
  visibility: visible;
}

.navArrowContainer {
  position: relative;
  height: 100%;
  width: 100%;
  visibility: hidden;
}

/* Collection of cards start here*/
.sliderContainer {
  overflow-x: visible;
}

.slider {
  white-space: nowrap;
}

.sliderItemPlaceholder,
.sliderItem {
  display: inline-block;
  padding: 0 0.2vw;
  position: relative;
  height: auto;
}

.sliderItemPlaceholder {
  margin-right: 5px;
  animation-duration: 3.6s;
  animation-name: pulsatingFrame;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.imgContainer {
  cursor: pointer;
}

.pictureCard {
  border-radius: 5px;
}

.imgLoadingPlaceholder {
  color: #fff;
  position: absolute;
  bottom: 30px;
  width: 100%;
  white-space: pre-wrap;
  text-align: center;
  font-weight: bold;
  z-index: -1;
}

.pictureCardPlaceholder {
  border-radius: 5px;
}

@keyframes pulsatingFrame {
  0% {
    background-color: rgb(26, 26, 26);
  }
  25% {
    background-color: rgb(51, 51, 51);
  }
  50% {
    background-color: rgb(26, 26, 26);
  }
  100% {
    background-color: rgb(26, 26, 26);
  }
}
