.main {
  position: sticky;
  top: 0;
  z-index: 100;
}

.mainContain {
  position: absolute;
  padding: 20px 50px;
  display: flex;
  width: 100%;
  transition: background-color 300ms cubic-bezier(1, -0.03, 1, 1);
}

.netflixLogoContainer {
  width: fit-content;
  display: flex;
  align-items: center;
}

.selection {
  padding: 0 30px;
  display: flex;
}

.selectionOpt {
  font-size: 0.95rem;
  color: #fff;
  margin: 0 10px;
  align-self: center;
  cursor: pointer;
}

.selectedOpt {
  font-weight: 600;
}

.navItemMenu {
  color: rgb(255, 255, 255);
  display: flex;
  cursor: pointer;
  position: relative;
}

.navItemMenuTxt {
  padding: 2px 0 0 0;
  font-size: 0.85rem;
  align-self: center;
}

.navItemMenuImg {
  transform: rotate(-90deg);
}

.dropDownMenuNav {
  color: #fff;
  position: absolute;
  bottom: -250px;
  left: 80px;
  background-color: rgba(20, 20, 20, 0.89);
  border-top: #fff solid 2px;
  display: none;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.dropDownMenuNavListArrContain {
  position: absolute;
  top: -14px;
  left: 95px;
}

.dropDownMenuNavListArr {
  transform: rotate(-270deg);
}

.dropDownMenuitem {
  display: flex;
  list-style: none;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: background-color 150ms ease, opacity 150ms ease;
}

.dropDownMenuitem:hover {
  background-color: rgba(92, 92, 92, 0.514);
}

.secondaryNav {
  margin: 0 0 0 auto;
  display: flex;
  min-width: 160px;
  justify-content: space-between;
}

.navIcon {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-right: 20px;
}

.inputContainer {
  display: none;
}

.inputContain {
  position: relative;
  display: flex;
  background-color: rgb(0, 0, 0);
  height: 32px;
  border: #fff solid 1px;
}

.inputSearchQ {
  color: #fff;
  font-size: 1rem;
  background-color: #000;
  border: none;
  font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-right: 8px;
  width: 200px;
}

.inputSearchQ:focus {
  outline: none;
}

.searchIconInput {
  width: 24px;
  align-self: center;
  margin-bottom: -1%;
}

.searchCross {
  display: inline-block;
  margin: 0 8px -1% auto;
  width: 16px;
  background-color: black;
  z-index: 10;
  align-self: center;
}

.notification {
  position: absolute;
  top: 0;
  left: 10px;
  background-color: rgb(182, 32, 32);
  padding: 0 4.5px 2px 5px;
  border-radius: 50%;
}

.notificationCount {
  color: rgb(255, 255, 255);
}

.dropDownMenuNavSec {
  color: #fff;
  position: absolute;
  z-index: 10;
  bottom: -120px;
  right: 0;
  background-color: rgba(20, 20, 20, 0.89);
  border-top: #fff solid 2px;
  display: block;
  opacity: 1;
  transition: opacity 150ms ease-in-out;
}

.dropDownMenuListSec {
  width: 350px;
}

.notificationArrContain {
  position: absolute;
  bottom: 99px;
  right: 2px;
}

.notificationArr {
  transform: rotate(-270deg);
}

.notificationEmpty {
  text-align: center;
  margin: 45px 0;
  color: rgb(255, 255, 255, 0.7);
}

.profilePicIcon {
  transform: rotate(-90deg);
  transition: transform 450ms ease-in-out;
}

.profilePicContainAll {
  display: flex;
  cursor: pointer;
}

.profilePicContainAll:hover .profilePicIcon {
  transform: rotate(-270deg);
}

.profilePicContainer {
  padding-right: 7px;
}

.profilePic {
  border-radius: 5px;
}

@media screen and (max-width: 1100px) {
  .selectionOpt {
    font-size: 0.8rem;
  }
  .netflixLogoContainer {
    width: 80px;
  }
}

@media screen and (max-width: 1020px) {
  .selectionOpt {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 700px) {
  .mainContain {
    padding: 20px 20px;
  }
}
