// SPDX-License-Identifier: GPL-3.0-or-later
// SPDX-FileCopyrightText: Copyright © 2023 Netflix-Clone Chan Alston

html,
body {
  padding: 0;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: var(--Ubuntu), "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:root {
  // Colors
  --red-color: #e00e0e;
  --blue-color: #2382ff;
  --dark-blue-color: #275edf;
  --med-red-color: #b92d2b;
  --dark-red-color: #ad0a0a;
  --light-color: #e6e6e6;
  --light-grey-color: #b4b4b4;
  --light-grey-txt: #737373;
  --grey-color: #303030;
  --grey-color-2: #333333;
  --dark-grey-color: #222;
  --warning-color: #ffa00a;
  --dark-warning-color: #423600;
  --highlight-color: #2eb9e4;
}

.netflixBtn {
  border: none;
  background-color: var(--red-color);
  color: #fff;
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 8.5px 21px;
  cursor: pointer;
  transition: color 120ms ease-in-out, background-color 130ms ease-in;
}

.netflixBtn:hover {
  color: var(--red-color);
  background-color: #fff;
}

.container {
  min-width: 300px;
}
