@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  // Colors
  --red-color: #e00e0e;
  --dark-red-color: #ad0a0a;
  --grey-color: #303030;
  --dark-grey-color: #222;
  --warning-color: #ffa00a;
}

.netflixBtn {
  border: none;
  background-color: var(--red-color);
  color: #fff;
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 8.5px 21px;
  cursor: pointer;
  transition: color 120ms ease-in-out, background-color 130ms ease-in;
}

.netflixBtn:hover {
  color: var(--red-color);
  background-color: #fff;
}

.container {
  min-width: 300px;
}
