/* file using this stylesheet */
/* 
pages/logout.js;
*/

.mainComp {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("../public/images/background/bg-queen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
}

.main {
  background-color: #fff;
  max-width: 430px;
  padding: 30px 40px;
  margin: 20px auto 100px auto;
}

.headings {
  margin: 0 0 20px 0;
  font-weight: 100;
}

.redirectMsg,
.mainMsg {
  line-height: 1.4rem;
  color: rgb(59, 59, 59);
}

.maxBtn {
  display: flex;
  width: 100%;
}

.goNowBtn {
  background-color: rgb(39, 94, 223);
  border: none;
  width: 100%;
  padding: 13px;
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
  transition: background-color 130ms ease-in-out;
}

.goNowBtn:hover {
  background-color: rgb(190, 21, 21);
}

@media screen and (max-width: 700px) {
  .mainComp {
    height: fit-content;
    display: flex;
    flex-direction: column;
    background: none;
    background-color: #fff;
  }
}
