.container {
  position: fixed;
  color: #fff;
  bottom: 0;
  width: 100%;
  background-color: #e00e0e;
  z-index: 9999;
}
.fit {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.msg {
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 8px 5px;
}
.slider {
  position: absolute;
  top: -36px;
  background-color: rgb(224, 14, 14);
  border-radius: 8px;
  padding: 4px 6px;
  cursor: pointer;
  appearance: none;
  border: none;

  transition: background-color 160ms ease-in-out;
}
.transition {
  transition: transform 160ms ease-in-out;
}
.slider:hover {
  background-color: rgb(184, 11, 11);
}
.slider:hover .transition {
  transform: translate(0, 1px);
}

@media screen and (max-width: 800px) {
  .msg {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 510px) {
  .msg {
    font-size: 1rem;
  }
}
@media screen and (max-width: 470px) {
  .msg {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 350px) {
  .msg {
    font-size: 0.8rem;
  }
}
