/* file using this stylesheet */
/* 
component/home/CardThree.js;
*/

/* Homepage CardThree Component */
.containerCard {
  max-width: 1100px;
  margin: 80px 50px;
  display: flex;
}

/*Content section*/
.wordGroup {
  width: 52%;
  padding-right: 25px;
}

.wordGroupBig {
  margin: 0;
  font-size: 3rem;
}

.wordGroupSml {
  font-size: 1.65rem;
  margin-bottom: 0;
}

/*Image section*/
.imgPresent {
  width: 48%;
}

.imgPresentContainer {
  position: relative;
  margin: -5% -10% 0 0;
  max-width: 555.44px;
}

.vidPresentContainer {
  width: 100%;
  position: relative;
}

.videoTv {
  position: absolute;
  transform: translate(10px);
  object-fit: contain;
  width: 67.3%;
  height: 67.3%;
  left: 18%;
  top: -0.3%;
}

/* *********************************** */
/* *********************************** */
/* media queries */
@media screen and (max-width: 967px) {
  .containerCard {
    flex-direction: column;
  }
  .wordGroup {
    width: 100%;
    padding-right: 0;
  }
  .wordGroupBig {
    margin: 0;
    font-size: 2.6rem;
  }
  .wordGroupSml {
    font-size: 1.4rem;
    margin: 10px 0;
  }

  .imgPresent {
    width: 75%;
    align-self: center;
  }
  .imgPresentContainer {
    width: 100%;
    margin: -5% -10% 0 0;
    max-width: none;
  }
  .videoTv {
    width: 62%;
    height: 62%;
    left: 17%;
    top: 1%;
  }
}

@media screen and (max-width: 570px) {
  .containerCard {
    margin: 60px 30px;
  }
  .wordGroupBig {
    margin: 0;
    font-size: 2rem;
  }
  .wordGroupSml {
    font-size: 1.1rem;
    margin: 10px 0;
  }

  .imgPresent {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .containerCard {
    margin: 40px 20px;
  }
}
