.container {
  position: fixed;
  z-index: 9999;
  bottom: 20px;
  left: 20px;
  max-width: 320px;

  display: flex;
  align-items: center;

  color: #000;
  border-radius: 8px;
  padding: 14px 20px 14px 20px;

  &.error {
    background-color: var(--error-color);
    color: #fff;
  }
  &.warning {
    background-color: var(--warning-color);
  }
  &.info {
    background-color: var(--info-color);
  }
  &.success {
    background-color: var(--success-color);
  }

  & .iconContainer {
    margin-right: 10px;
    border-radius: 9999px;
    padding: 2px;

    & .img {
      display: inline-block;
      vertical-align: middle;
    }

    &:last-child {
      margin: 0 0 0 15px;
      appearance: none;
      border: none;
      background-color: transparent;
      cursor: pointer;

      transition: background-color 160ms ease-in-out;

      &:hover {
        background-color: #ffffff7e;
      }
    }
  }

  & .txt {
    display: flex;
    align-items: center;
    font-size: 0.9rem;

    text-transform: capitalize;
    margin: 0;
  }
}
