// SPDX-License-Identifier: GPL-3.0-or-later
// SPDX-FileCopyrightText: Copyright © 2023 Netflix-Clone Chan Alston

@mixin txtStyle($fontSize) {
  display: flex;
  align-items: center;
  font-size: $fontSize;

  text-transform: capitalize;
  margin: 0;

  text-overflow: ellipsis;
  overflow: hidden;
}

.container {
  position: fixed;
  z-index: 9999;
  bottom: 20px;
  left: 20px;

  display: flex;
  align-items: center;

  color: #000;
  border-radius: 8px;
  padding: 14px 20px 14px 20px;

  &.error {
    background-color: var(--error-color);
    color: #fff;
  }
  &.warning {
    background-color: var(--warning-color);
  }
  &.info {
    background-color: var(--info-color);
  }
  &.success {
    background-color: var(--success-color);
  }

  .content {
    display: flex;

    &.hasTitle {
      flex-direction: column;

      .titleBox {
        display: flex;
        margin-bottom: 2px;

        .title {
          @include txtStyle(1rem);
          max-width: 200px;
          font-weight: bold;
        }
      }
    }

    & .txt {
      @include txtStyle(0.9rem);
      max-width: 240px;
    }
  }

  & .iconContainer {
    margin-right: 5px;
    border-radius: 9999px;
    padding: 2px;

    & .img {
      display: inline-block;
      vertical-align: middle;
    }

    &:last-child {
      margin: 0 0 0 15px;
      appearance: none;
      border: none;
      background-color: transparent;
      cursor: pointer;

      transition: background-color 160ms ease-in-out;

      &:hover {
        background-color: #ffffff7e;
      }
    }
  }
}
