.listContainer {
  padding: 0;
}

.bar {
  list-style: none;
  margin-left: 0;
  background-color: #fff;
  border: solid 4px #ccc;
  margin-bottom: 10px;
  display: flex;
  height: 105px;
  cursor: pointer;
  position: relative;
}
.bar:hover {
  border: solid 4px #077af5;
}
.selectedbar {
  border: solid 4px #077af5;
}

.barHeader {
  min-width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  padding: 10px;
}

.barHeaderContent {
  font-size: 1.1rem;
  text-align: center;
  font-weight: 500;
}
.showCurrentPlan {
  font-weight: 400;
  color: #000;
  font-size: 0.9rem;
  margin: 0 0 2px 0;
}

.barDetails {
  display: flex;
  align-items: center;
  width: 100%;
}

.desc,
.packageFee {
  margin: 0;
  padding: 10px 15px;
}

.desc {
  display: flex;
  width: 100%;
}

.packageFee {
  margin: 0 0 0 auto;
  font-size: 1.2rem;
  padding: 0 0 0 10px;
  align-self: center;
}

.checkedContainer {
  background-color: #077af5;
  position: absolute;
  border-radius: 9999px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -20px;
  top: 30px;
}

.btnGroup {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .bar {
    border: solid 2px #ccc;
    margin-bottom: 8px;
    height: auto;
    flex-direction: column;
  }
  .barHeader {
    justify-content: flex-start;
    background-color: #f3f3f3;
    padding: 12px 20px;
    height: auto;
    background-color: #fff;
    border-bottom: solid 1px #ccc;
    text-align: left;
  }
  .barHeaderContent {
    margin: 0;
  }
  .desc {
    margin: 0;
    padding: 12px 0 12px 20px;
    display: block;
  }
  .showCurrentPlan {
    font-weight: 600;
    font-size: 1rem;
  }
  .packageFee {
    margin: 0 auto 0 0;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 0;
    display: inline;
  }
  .selectedbar {
    border: solid 2px #077af5;
  }
  .bar:hover {
    border: solid 2px #077af5;
  }
}

/* PlanConfirmModal Component */
.modalBack {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  overflow: scroll;
  align-items: center;
}
.modalBox {
  background-color: #fff;
  position: relative;
  width: 640px;
}

.cancelBtnContainer {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.modalHeader {
  padding: 12px 20px;
}
.modalHeader > * {
  margin: 0;
  font-weight: 500;
}

.modalMain {
  margin: 20px 0;
}
.planSection {
  background-color: #f3f3f3;
  padding: 18px 20px;
  border-bottom: solid 1px #ccc;
}

.planSection > * {
  color: #878787;
}
.sectionHead,
.modalPlanDesc,
.sectionHeadNew,
.modalPlanDescNew {
  margin: 0 0 8px 0;
}
.modalPlanDesc {
  margin: 0;
}

.sectionHeadNew,
.modalPlanDescNew {
  color: #444;
}

.modalFooter {
  padding: 20px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
