.buttonGroup {
  display: flex;
  height: 45px;
  width: 220px;
}

.saveBtn,
.cancelBtn {
  padding: 7px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

.saveBtn {
  color: #fff;
  background-color: #0f84fa;
}
.saveBtn:hover {
  background-color: #2c93fa;
}

.cancelBtn {
  color: #222;
  background-color: #ccc;
  margin-left: 10px;
}
.cancelBtn:hover {
  background-color: rgb(224, 224, 224);
}

.btnContent {
  text-decoration: none;
  color: inherit;
  font-weight: 600;
}

/* Password Modal Component */
.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  background-color: #0ebf43;
  padding: 10px 20px;
  border-radius: 6px;
  box-shadow: 0px 12px 28px -10px rgba(0, 0, 0, 0.52);
  display: flex;
  align-items: center;
}

.modalContent {
  color: #fff;
}
