/* file using this stylesheet */
/* 
pages/404.js;
*/

/*This imports roboto font from google font*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap");
.container {
  overflow-x: hidden;
  background-image: url("../public/images/bg-lost-in-space.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/*Header section*/
.header {
  background-color: #000;
  display: flex;
  align-content: center;
  padding: 25px 40px;
  min-height: 77px;
}

.imgLogo {
  height: fit-content;
}

/*main section*/
.main {
  width: 100vw;
  display: flex;
  height: 90%;
}

.mainContain {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

/*error msg container*/
.errorMsg {
  padding: 0 12% 20px 12%;
  text-align: center;
}

/*error msg h1*/
.errorMsgHead {
  margin: 0;
  font-size: 3.7rem;
  color: #fff;
}

.errorMsgPara {
  margin: 20px auto;
  font-size: 1.4rem;
  width: 80%;
  color: #fff;
}

/*get back to home button*/
.homeBtn {
  background-color: #fff;
  border-radius: 6px;
  padding: 10px 25px;
  border: none;
  cursor: pointer;
}

.homeBtnTxt {
  font-size: 1.1rem;
  text-decoration: none;
  color: #000;
}

.homeBtn:hover {
  background-color: rgb(214, 214, 214);
}

/*display error msg at the bottom*/
.errorCode {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: auto 0 0 0;
  border-left: solid 3px rgb(206, 23, 23);
  height: 60px;
  padding-top: 15px;
}

.errorCodeMsg {
  font-size: 2rem;
  color: #fff;
  padding: 10px;
  margin: 0;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
}

/*Movie name of the background at the bottom right*/
.movieName {
  position: absolute;
  bottom: 1%;
  right: 3%;
}

.movieNameMsg {
  color: #fff;
  font-weight: 100;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  opacity: 0.6;
}

/* *********************************** */
/* *********************************** */
/* media queries */
@media screen and (max-width: 900px) {
  .errorMsgHead {
    font-size: 3rem;
  }
  .errorMsgPara {
    font-size: 1.2rem;
  }
  .homeBtnTxt {
    font-size: 1rem;
  }
  .errorCode {
    height: 47px;
  }
  .errorCodeMsg {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .errorMsgHead {
    font-size: 2.5rem;
  }
  .errorMsgPara {
    font-size: 1rem;
  }
  .homeBtnTxt {
    font-size: 0.85rem;
  }
  .errorCode {
    height: 40px;
  }
  .errorCodeMsg {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 400px) {
  .errorMsgHead {
    font-size: 1.7rem;
  }
  .errorMsgPara {
    font-size: 0.8rem;
  }
  .homeBtnTxt {
    font-size: 0.7rem;
  }
  .errorCode {
    height: 37px;
  }
  .errorCodeMsg {
    font-size: 1.1rem;
  }
}
