/*footerStyle1 conponent*/
.footer {
  background-color: #000000;
  color: white;
  display: flex;
  justify-content: center;
}

.container {
  padding: 30px 100px;
}

.footerTel {
  margin: 70px auto 30px 0;
  color: #757575;
}

.footerTel > a {
  color: #757575;
  text-decoration: none;
}

.unorderedList {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 230px));
  grid-template-rows: repeat(5, 35px);
}

.listItem {
  list-style: none;
}

.listItem > a {
  text-decoration: none;
  color: #757575;
  font-size: 0.8rem;
}

.footerTel > a:hover,
.listItem > a:hover {
  text-decoration: underline;
}

/* *********************************** */
/* *********************************** */
/* media queries for footerStyle1 component*/
@media screen and (max-width: 800px) {
  .container {
    padding: 30px 70px;
  }
  .footerTel {
    margin: 40px auto 30px 0;
  }
}

@media screen and (max-width: 720px) {
  .unorderedList {
    grid-template-columns: repeat(3, minmax(100px, 230px));
    grid-template-rows: repeat(6, 35px);
  }
}

@media screen and (max-width: 610px) {
  .container {
    padding: 30px 40px;
  }
  .footerTel {
    margin: 30px auto 30px 0;
  }
}

@media screen and (max-width: 510px) {
  .unorderedList {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 230px));
    grid-template-rows: repeat(9, 35px);
  }
}

/* *********************************** */
/* *********************************** */
/* footerStyle2 component*/
.footer2 {
  background-color: #000000b6;
  margin: auto auto 0 auto;
  color: white;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.container2 {
  padding: 30px 100px;
}

.footerTel2 {
  margin: 20px auto 30px 0;
  color: #757575;
}

.footerTel2 > a {
  color: #757575;
  text-decoration: none;
}

.unorderedList2 {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 230px));
  grid-template-rows: repeat(2, 35px);
}

.listItem2 {
  list-style: none;
}

.listItem2 > a {
  text-decoration: none;
  color: #757575;
  font-size: 0.8rem;
}

.footerTel2 > a:hover,
.listItem2 > a:hover {
  text-decoration: underline;
}
