/* .main {
  position: absolute;
  width: 100vw;
  top: 0;
} */

.mainContain {
  padding: 30px 46px;
  display: flex;
  align-items: center;
}

.netflixLogo {
  cursor: pointer;
}

.submitBtn {
  margin: 0 0 0 auto;
}
