/* file using this stylesheet */
/* 
component/signup/header.js;
component/header.js;
*/

/* Homepage Header Component */
.mainContain {
  max-width: 1500px;
  padding: 30px 46px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}

.netflixLogoContainer {
  max-width: 180px;
  margin-bottom: -0.4%;
}

.submitBtn {
  margin: 0 0 0 auto;
}

.logoPointer {
  cursor: pointer;
}

.btnTxt {
  text-decoration: none;
  color: #fff;
}

.submitBtn:hover .btnTxt {
  color: rgb(224, 14, 14);
}

/* Signup Header Component */
.mainContainSignUp {
  padding: 23px 46px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}

.mainContainBroder {
  border-bottom: 1px solid #e6e6e6;
}

.submitBtnSignUp {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.btnTxtSignUp {
  color: #333;
  font-size: 1.3rem;
  font-weight: 600;
}

.btnTxtSignUp:hover {
  text-decoration: underline;
}

/* *********************************** */
/* *********************************** */
/* media queries */
@media screen and (max-width: 570px) {
  .mainContain {
    max-width: 1500px;
    padding: 30px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
  }

  .netflixLogoContainer {
    max-width: 100px;
  }
}
