/* Homepage Header Component */
.mainContain {
  max-width: 1500px;
  padding: 30px 46px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}

.submitBtn {
  margin: 0 0 0 auto;
}

.logoPointer {
  cursor: pointer;
}

.btnTxt {
  text-decoration: none;
  color: #fff;
}

.submitBtn:hover .btnTxt {
  color: rgb(224, 14, 14);
}

/* *********************************** */
/* *********************************** */
/* media queries */
@media screen and (max-width: 570px) {
  .mainContain {
    max-width: 1500px;
    padding: 30px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
  }

  .netflixLogoContainer {
    max-width: 100px;
  }
}
